stages:
  - test

default:
  image: elixir:1.17
  services:
    - name: postgres:16
      alias: postgres
  cache:
    key:
      files:
        - mix.lock
    paths:
      - deps/
      - _build/
  before_script:
    - mix local.hex --force
    - mix local.rebar --force
    - mix deps.get

quality_and_tests:
  stage: test
  variables:
    MIX_ENV: test
    TEST_DB_USER: postgres
    TEST_DB_PASS: postgres
    TEST_DB_HOST: postgres
    TEST_DB_PORT: "5432"
    TEST_DB_NAME: medigrand_test
    POSTGRES_DB: medigrand_test
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
  script:
    - mix format --check-formatted
    - mix compile --warnings-as-errors
    - mix credo --strict
    - mix test
